
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Plaster&family=Poppins:wght@300;400&family=Quicksand:wght@300&display=swap');

.typeform_button{
    color: #fff;
    /* width: 130px;
    height: 40px; */
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.842);
    backdrop-filter: blur(20px);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}
.typeform_button>a{
    text-decoration: none !important;
    font-family: poppins;
    font-weight: 500;
    color: white !important;
    cursor: pointer;
}
.typeform_button {
    position: relative;
    color: #00aced;
    border: none;
    z-index: 2;
  }
  /* .typeform_button:before, */
  .typeform_button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    
    z-index: -1;
    transition: all 0.3s ease;
  }
  .typeform_button:before{
     top: 0;
     left: 0;
     border-color: transparent;
  }
  .typeform_button:after{
     bottom: 0;
     right: 0;
     border-top-color: #7c00b5;
     border-left-color: #7c00b5;
     border-bottom-color: #7c00b5;
     border-right-color: #7c00b5;
  }
  .typeform_button:hover{
    border-radius: 20px;
  }
  .typeform_button:hover:before{
    background-color: #1d002a;
    height: 100%;
    border-radius: 20px;
    width: 100%;
  }
  .typeform_button:hover:after {
    /* background-color: #7c00b5; */
    background: #bb13fe81;
    border-color: #7c00b5;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 0.5rem #bc13fe,
              0 0 0.5rem #bc13fe,
              0 0 0.5rem #bc13fe,
              inset 0 0 0.5rem #bc13fe;
    /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #3a054f, 0 0 0.8rem #3a054f, 0 0 2.8rem #3a054f, inset 0 0 1.3rem #3a054f; */
    /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe; */
  }