@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Plaster&family=Poppins:wght@300&display=swap');

nav{
    color: #FFF;
    font-family: Plaster;
    font-size: 8.5625rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 3rem;
    font-size: 3rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
}
nav>a+span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>.techspardha_logo{
    filter: drop-shadow(0px 0px 20px rgb(54, 124, 255));
}

/* This style is not working */

nav>span>svg{
    position: absolute;
    top: 1.0585rem;
    width: 6.71369rem;
    height: 2.3125rem;
    fill: rgb(54, 124, 255);
    filter: blur(40.58064270019531px);
}