@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Orbitron');

@import url('https://fonts.cdnfonts.com/css/galactic-vanguardian-ncv');
.font-orbitron1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
}
@layer base {
  .font-outline-05 {
    -webkit-text-stroke: 0.7px black;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  .font-orbitron {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .font-orbitron-1 {
    text-align: center;
    font-family: 'Orbitron';
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.3px;
  }

  .font-orbitron-l {
    font-family: "Orbitron";
    font-style: normal;
    font-weight: 300;
  }

  .font-starlord {
    font-family: starlord, sans-serif;
    font-style: normal;
    font-weight: 300;
  }

  .font-starlord-1 {
    text-align: center;
    text-shadow: 5px 0px 1px #367CFF;
    font-family: Starlord;
    font-size: 104px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.36px;
  }

  .bgGlow {
    -webkit-filter: drop-shadow(0px 0px 5px #367CFF);
    filter: drop-shadow(0px 10px 10px #367CFF);
  }

  .eventimg {
    clip-path: polygon(14% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 25%);
  }
}


::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --glow-conic: conic-gradient(from 180deg at 50% 50%,
      #2a8af6 0deg,
      #a853ba 180deg,
      #e92a67 360deg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}