.background_graphics{
    overflow-x: clip;
    position: absolute;
    width: 100svw;
    margin-top: auto;
    bottom: 0;
    margin-bottom: -100px;
    z-index: -10;
    filter: drop-shadow(10px 30px 20px rgb(255, 145, 226));
    /* box-shadow: 10px 30px 20px rgb(255, 145, 226); */
}
.background_graphics>img{
    width: 100%;
}
@media (max-width: 1300px) {
    .background_graphics{
        bottom: 0;
        margin-bottom: -80px;
    }
}

@media (max-width: 1200px) {
    .background_graphics{
        bottom: 0;
        margin-bottom: -10px;
    }
}

@media (max-width: 960px) {
    .background_graphics{
        bottom: 0;
        margin-bottom: -10px;
    }
    .background_graphics>img{
        scale: 1.5;
    }
}


@media (max-width: 750px) {
    .background_graphics{
        bottom: 10%;
        margin-bottom: -10px;
    }
    .background_graphics>img{
        scale: 2;
    }
}

@media (max-width: 480px) {
    .background_graphics{
        bottom: 25%;
        /* margin-bottom: -20px;
        margin-right: -20px; */
    }
    .background_graphics>img{
        scale: 3;
    }
}