@media screen and (max-height: 730px) {
    h1{
        font-size:medium;
    }
    .Heading{
        font-size: 5rem;
    }
    .panel_card{
        min-height: 225px;
    }
}
@media screen and (min-height: 561px) and (max-height: 730px) {
    .Heading{
        font-size: 4rem;
    }
  }
  @media screen and (max-height: 560px) {
    h1{
        font-size:small;
    }
    .Heading{
        font-size: 3rem;
    }
    .panel_card{
        min-height: 225px;
    }
    span{
        font-size: small;
    }
    .panel_card{
        min-height: 200px;
    }
    .date_card{
        padding: 0;
    }
}