@import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Poppins:wght@300&display=swap');
#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.excalibur{
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-left: 2.0625rem;
  display: inline;
  padding: 0;
  color: rgba(105, 50, 108, 0.53);
  text-align: center;
  font-family: Pirata One;
  font-size: 13.25rem;
  font-weight: 400;
  letter-spacing: 2.0625rem;
  text-shadow: -10px -10px pink;
}